.span {
  display:inline-block;
  width:9px;
  height:9px;
  margin-right: 14px;
  position: relative;
  z-index: 10;
}
/* points componenet is dependentt on margin-right: 14px; */

.surrounding{
  width:3;
  height:3;
  background-color: blueviolet;
}