.home-container {
  padding: 10%;
  /*.title {
    font-size: 60px;
  }
  .desc {
    font-size: 25px;
    max-width: 450px;
  }*/
}

.title {
    font-size: 60px;
    color: white;
}

.desc {
    font-size: 25px;
    max-width: 450px;
    color: white;
    /*font-size: 80;*/
}
.btn-large {
  padding: 10px 80px;
  color: black;
  background-color: #f5a540;
}

.content {
    background: rgba(0, 0, 0, 0.5);
    max-width: 500px;
    padding: 25px;
    color: white;
  }

  .labelForm{
    color: white;
  }

.flexBox{
  justify-content: space-around;
}

.buttonForm{
  background-color: #f5a540;
  color: black;
}